.registration-new {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  .new-main {
    margin: 0 auto;
    padding-top: 100px;
    max-height: 90vh;
    overflow: scroll;
  
    .sourceCreate {
      width: 60vw;
      border-radius: 300px;
      padding-top:80px;
      padding-bottom:10px;
      margin: 0 auto;
      margin-bottom: 40px;
      border: 6px double white;
  
      &__title {
        margin: 0 10px;
  
        p {
          padding: 0 2vw 2vh; 
          width: 34vw;
          margin: 0 auto;
          font-size: 50px;
          font-weight: bold;
          color: white;
          line-height: 40px;
          margin-bottom: 0px;
          letter-spacing: 10px;
          border-bottom: 2px solid red;
        }
      }
  
      &__form {
        text-align: center;
        margin-top: 100px;

        .form-contents {
          width: 30vw;
          margin: 5vh auto;
          .form {
            margin: 0 auto;
            margin-bottom: 30px;

            p {
              border-radius: 5px 5px 0 0;
              margin-bottom: 10px;
              color: white;
              font-weight: bold;
              padding: 5px 0;
              font-size: 25px;
            }

            .value {
              text-align: center;
              width: 20vw;
              padding:10px;
              border: 1px solid lightgray;
              border-radius: 10px;
              font-size: 20px;
              color: black;
              margin-bottom: 4vh;
              background-color: lightgrey;
              outline: 0;
            }

          }
          
            .value:focus {
              background-color: white;
            }
        }
  
  
        .submit {
          margin-top:10px;
          margin-bottom:20px;
  
          &__btn {
            background-color: red;
            color: white;
            text-align: center;
            width: 10vw;
            border-radius: 10px;
            cursor: pointer;
            border: 4px double grey;
            outline: 0;
            padding: 10px 0 10px 0;
            margin: 0 auto;
            margin-bottom: 20px;
            font-weight: bold;
            transition: all 0.3s ease 0s;
            p {
              font-size: 20px;
              color: white;
              margin-bottom: 0;
            }
  
          }
          &__btn:hover {
            letter-spacing: 7px;


            a {
              font-weight: bold;
            }

            
          }
          .back__btn:hover {
            color: black;
            font-weight:bold;
          }
        }
      }
      
      a {
        text-decoration: none;
        color: gray;
      }
    }

    .login__btn {
      margin: 0 auto;

      a {
        color: white;
        transition: all 0.3s ease 0s;
      }
    }

    .login__btn:hover {
      a {
        letter-spacing: 7px;
      }
    }

    .submit-back{
      display: flex;
      justify-content: flex-end;
      .fa-times-circle {
        font-size: 80px;
        color: red;
        margin-bottom: 20px;
        position: fixed;
        right: 50px;
        top: 50px;
        opacity: 0.3;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
    }

    .fa-times-circle:hover {
      opacity: 1;
      font-size: 100px;
    }
  }
}
