.boards-new {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
  position: absolute;
  top:0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100vw;
  height: 100vh;
  .main {
    margin: 0 auto;
    padding-top: 200px;
    width: 70vw;
  
    .boardCreate {
      width: 40vw;
      border-radius: 20px;
      padding:30px;
      margin: 0 auto;
      border: 6px double white;
      
  
      &__title {
        margin: 0 10px;
        margin-bottom: 7vh;

        p {
          padding-bottom: 1vh;
          text-align: center;
          width: 35vw;
          margin: 0 auto;
          font-size: 2vw;
          font-weight: bold;
          color: white;
          line-height: 40px;
          margin-bottom: 0px;
          letter-spacing: 10px;
          border-bottom: 2px solid red;
          border-radius: 50px 0;
        }
      }
  
      &__form {
        text-align: center;
        margin-top:40px;
  
        .title {
  
          &__form {
            height: 7vh;
            width: 30vw;
            border-radius: 10px;
            opacity: 0.8;
            font-size: 18px;
            font-weight: bold;
            outline: 0;
            padding-left: 10px;
            font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
          }
  
          &__form:focus {
            opacity: 1;
          }
        }
  
        .submit {
          margin-top:5vh;
  
          &__btn {
            background-color: red;
            color: white;
            text-align: center;
            width: 10vw;
            border-radius: 10px;
            cursor: pointer;
            border: 4px double grey;
            outline: 0;
            padding: 10px 0 10px 0;
            margin: 0 auto;
            margin-bottom: 20px;
            font-weight: bold;
            transition: all 0.3s ease 0s;
  
            p {
              font-size: 20px;
              color: white;
              margin-bottom: 0;
            }
  
          }
              &__btn:hover {
                letter-spacing: 7px;
  
                p {
                  color:  black;
                }
              }
        }
      }

      .submit-back {
        background-color: lightgray;
        width: 16vh;
        font-size: 25px;
        margin:0 auto;
        text-align: center;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
  
        .back-btn {
          text-align: center;
          color: gray;
        }
      }
  
      a {
        text-decoration: none;
        color: gray;
      }
  
      .submit-back:hover {
        opacity: 0.5;
        color: black;
        font-weight: bold;
      }
  
      a {
        text-decoration: none;
      }
    }
  }
  .submit-back{
    display: flex;
    justify-content: flex-end;
    .fa-times-circle {
      font-size: 80px;
      color: red;
      margin-bottom: 20px;
      position: fixed;
      right: 50px;
      top: 50px;
      opacity: 0.3;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }
  }
  .fa-times-circle:hover {
    opacity: 1;
    font-size: 100px;
  }
}
