.board-show {

  .container-fluid{
    height: calc(100vh - 140px);


    // 以下、メイン部分ーーーーーーーーーーーーーーーーーーーーーー
    .main {
      margin: 0 auto;
      padding-top: 60px;
      height: calc(100vh - 140px);
      width: 70vw;
      

      .boardList {
        width: 70vw;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 67vh;
        overflow: scroll;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        z-index: 10;


        .board {
          width: 19vw;
          margin: 10px;
          padding:10px;
          border-radius: 20px;
          cursor: pointer;
          transition: 1s all ease 0s;
          box-shadow: 0px 0px 5px grey;

          p {
            font-size: 24px;
            font-weight: bold;
            color: black;
            word-wrap: break-word;
            max-width: 300px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 0;
            text-align: center;
            transition: 1s all ease 0s;
          }
        }

        .board:hover {

          p {
            color: black;
            max-height: 300px;
            word-wrap: break-word;
            white-space: normal;
            overflow: visible;
            letter-spacing: 7px
          }
        }

        a {
          text-decoration: none;
        }
      }
      .boardList:hover {
      }
    }
  }
  
  p {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
  }
}
