div {
  .container-fluid{
    height: calc(100vh - 140px);
    
    // 以下、メイン部分ーーーーーーーーーーーーーーーーーーーーーー
    .main {
      margin: 0 auto;
      padding-top: 60px;
      height: calc(100vh - 140px);
      width: 70vw;

      .boardList {
        width: 70vw;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 67vh;
        overflow: scroll;
        border: 1px dotted black;
        border-radius: 10px;
        padding: 20px;


        .board {
          width: 19vw;
          margin: 10px;
          padding:10px;
          border-radius: 20px;
          cursor: pointer;
          transition: 0.2s all ease 0s;
          border: 4px double black;

          p {
            font-size: 24px;
            font-weight: bold;
            color: white;
            word-wrap: break-word;
            -webkit-text-stroke: 1px black;
            max-width: 300px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 0;
          }
        }

        .board:hover {
          border: 4px solid black;

          p {
            color: black;
            max-height: 300px;
            text-align: center;
            word-wrap: break-word;
            white-space: normal;
            overflow: visible;
          }
        }

        a {
          text-decoration: none;
        }
      }
      .boardList:hover {
        border: 1px solid black;
      }
    }
  }
  
  p {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN';
  }
}
